* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.debug-logo {
    background-colors: #daa520;
}

.debug-ul {
    background-colors: #daa520;
}

.debug-login {
    background-colors: #daa520;
}

/* DEBUG */

/* ******** */
* {
    font-family: 'Roboto', sans-serif;


}

/* HEADER */
header {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
    color: white;
}

header>section {
    background-colors: #add8e6;
}

.section1 {
    display: flex;
    justify-content: center;
}

.row1 {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    width: 1200px;

}



.logo1 {
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 70px;
}


.ul {
    list-style: none;
    display: flex;
    justify-content: center;
    min-height: 40px;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.login {
    min-height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 17px;
    background-color: white;
    color: black;
    border-radius: 20px;

}

.header2 {
    background-colors: #00008b;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}


#box1 {
    min-height: 400px;
    background-colors: #ee82ee;
    width: 900px;
}

#section-header {
    display: flex;
    flex-direction: column;
}

header section h1 {
    font-size: 45px;
    text-align: center;
    padding: 45px 0;
}

header #section-header div {
    text-align: center;
    line-height: 31px;
    font-size: 18px;
    margin-bottom: 30px;
}

header #section-header span {
    font-size: 18px;
    text-align: center;
    margin: 20px 10px;
    padding: 13px 15px;
    border-radius: 20px;
}

#span1 {
    background-color: white;
    color: black;
}

#span2 {
    background-color: #23272a;
}



/* HEADER */


/* MAIN */

.container1 {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wave1 {
    background-color: #f6f6f6;
    fill: currentColor;
}

.wave2:hover{
    fill: #f6f6f6;
}


.container2 {
    height: 600px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bigbox1 {
    width: 1200px;
    display: flex;
}



.bigbox2 {
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
}




.boxblue {
    min-height: 500px;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 20%);

}

#study {
    background-image: url("../img/item1.svg");

}

#just {
    background-image: url("../img/item2.svg");
}

#coach {
    background-image: url("../img/item3.svg");
}

.boxpurple {
    min-height: 500px;
    width: 40%;
}

main .section {
    font-size: 20px;
    padding: 85px 75px 0 75px;
    text-align: left;
    box-sizing: border-box;
    word-spacing: 10px;

}

main .section p {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 30px;
}


.container3 {
    height: 1200px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigbox3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 1000px;
    width: 1200px;
    background-image: url("../img/item4-big.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 20%);
}

main .bigbox3 p {
    text-align: center;
}

main .bigbox3 h3 {
    margin-top: 630px;
    background-image: url("../img/stars.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    word-spacing: normal;
    padding: 30px;
}

main .bigbox3 div {
    font-size: 18px;
    text-align: center;
    margin: 20px 10px;
    padding: 13px 15px;
    border-radius: 20px;
    background-color: #7289da;
    color: white;
    word-spacing: normal;
    margin-top: 30px;
}

/* MAIN */


/* FOOTER */
footer {
    background-color: #23272a;
}

.container4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigbox4 {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px 0 30px;
    gap: 100px;
}

.boxred {
    align-self: flex-start;
}

.boxred>h2 {
    color: #7289d9;
    font-size: 28px;
}

.boxred li img {
    width: 20px;
    vertical-align: middle;
}

.boxred>li {
    list-style-type: none;
    color: white;
    font-size: 13px;
}

.boxred div {
    color: white;
    size: 10px;
    word-spacing: 15px;
}

.boxacqua {
    border-color: white;
}

.bigbox4 .bigboxacqua {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    color: white;
}

.boxacqua span {
    color: #7289d9;
    line-height: 40px;
}

li {
    line-height: 40px;
}

.section2 {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row2 {
    height: 80px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #7289da solid 2px;
}

.logo2 {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottone {
    background-color: #7289da;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
}


/* FOOTER */